p {text-align: justify;}

.bd-main .bd-content .bd-article-container {
    max-width: 81em;  /* default is 60em */
}

html {
    --pst-font-family-base: Verdana, var(--pst-font-family-base-system);
    --pst-font-family-heading: Cambria, Georgia, Times, var(--pst-font-family-base-system);
    --pst-font-family-monospace: Courier, var(--pst-font-family-monospace-system);
}

th, td {
    border: 3px solid;
    padding: 6px;
}

